/* General */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

nav {
  padding: 15px;
}

.search {
  margin-right: 1%;
}

.projco {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease; 
  margin: 1%;
  border: 10px solid;
  padding: 10px;
}

.projects:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.projects {
  width: 80%;
  margin: 1%;
}

/* Cards */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

/* Circular Images */
.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
}

/* Details Element */
details summary {
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

details p {
  margin-top: 10px;
}

.rating-row .col {
  text-align: center;
  margin-top: 10px;
}

form label {
  font-weight: 500;
  margin-top: 10px;
}

form textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

form input.form-control {
  margin-bottom: 10px;
}

.btn-dark {
  margin-top: 15px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 40px;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Footer */
.footer {
  background-color: #343a40;
  color: white;
  padding: 20px;
  border-top: 3px solid #222;
}
